:root {
  /* font family */
  --bs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* color */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-body-color: #212529;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-dark: #212529;
  --bs-light: #f8f9fa;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 13, 202, 240;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-body-bg: #fff;

  /* font size */
  --bs-body-font-size: 1rem;

  /* font weight */
  --bs-body-font-weight: 400;

  /* line height */
  --bs-body-line-height: 1.5;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

button,
.btn,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  font-family: "Open Sans", sans-serif;
  direction: ltr;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 20px;
  margin: 0em;
  margin: 0px;
  border: 2px solid #6a0000;
  transition: all 0.4s ease-out;
  border-radius: 100px;
  box-sizing: border-box;
  outline: none;
  overflow: visible;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  background-size: 200% auto;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 72px !important;
  margin: 0px;
  text-transform: uppercase;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px !important;
  line-height: 30px;
  margin: 0px;
  color: #333132;
  font-weight: 500;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.top-bar .container {
  position: relative;
}

.top-bar {
  background: #f8ecec;
  margin: auto;
  display: flex;
  width: 100%;
  border-top: 0px solid red;
}

.top-bar button.btn.btn-volunters,
.top-bar a.btn.btn-feedback-top {
  position: absolute;
  top: 0px;
  /* right: 18%; */
  right: 255px;
  color: white;
  border-radius: 13px;
  z-index: 999;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 0px;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
  background: red;
  padding: 3px 30px;
  line-height: 20px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.top-bar a.btn.btn-feedback-top {
  right: 15px;
  padding: 5px 30px;
  background: black;
  padding-left: 30px;
  z-index: 998;
  white-space: nowrap;
}

.top-bar button.btn.btn-volunters.collapsed {
  padding: 5px 30px;
  transition: all 0.5s ease-in-out;
}

.top-bar button.btn.btn-volunters:before,
.top-bar button.btn.btn-volunters:after,
.top-bar a.btn.btn-feedback-top:before,
.top-bar a.btn.btn-feedback-top:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  border: 2px solid red;
  background: transparent;
}

.top-bar a.btn.btn-feedback-top:before,
.top-bar a.btn.btn-feedback-top:after {
  border: 2px solid black;
}

.top-bar button.btn.btn-volunters:before,
.top-bar a.btn.btn-feedback-top:before {
  left: 100%;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.top-bar button.btn.btn-volunters:after,
.top-bar a.btn.btn-feedback-top:after {
  right: 100%;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.wrapper .body {
  margin-top: 50px;
  border: 2px solid #f8eae8;
  border-radius: 11px;
  padding: 20px;
  background: #fff7f6;
  position: relative;
  margin-bottom: 25px;
  color: #000;
}

.wrapper .body ul {
  padding-left: 18px;
}

.wrapper .body .footer {
  margin-top: 23px;
  text-align: center;
}

.wrapper .body .footer a.btn {
  font-weight: 500;
  font-style: normal;
  color: white;
  text-transform: inherit;
  font-size: 16px;
  background: red;
  border-radius: 8px;
  border: 0px;
  margin: auto;
  padding: 8px 22px;
}

a:active,
a:hover,
a:focus,
a:visited {
  outline: 0px;
  text-decoration: none;
}

/* header css */

header {
  border-bottom: solid 1px #ddd;
  z-index: 99;
  padding: 9px 0 16px 0;
}

header .container {
  padding: 0px 64px;
  max-width: 1900px;
  width: 95%;
}

header .row {
  display: flex;
  position: relative;
  align-items: center;
}

.ftalogo {
  text-decoration: none;
}

.ftalogo img {
  max-width: 318px;
  width: 100%;
  margin-left: -5px;
}

.ftalogo span {
  color: #333132;
  display: block;
  max-width: 310px;
  font-weight: 600;
  text-align: right;
  font-style: italic;
  padding-right: 7px;
  margin-top: -1.5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header button.btn.popupVideoBtn.head-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border: 1px solid black;
  font-style: normal;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

header button.btn.popupVideoBtn.head-btn .plyr__control {
  color: #ff0200;
  width: 28px;
  height: 25px;
  margin-right: 6px;
}

header button.btn.popupVideoBtn.head-btn:hover .plyr__control {
  color: white;
}

button.close.custom-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 35px;
  height: 35px;
  padding: 0px;
  line-height: 12px;
  font-size: 22px;
  background-image: linear-gradient(to right, #c53026 0%, #930000 51%, #c53026 100%);
  box-shadow: 0px 0px 20px -2px #000;
  border: 0px;
  z-index: 999;
  border-radius: 100%;
  transition: all 0.4s ease-out;
  border-radius: 100px;
  box-sizing: border-box;
  outline: none;
  overflow: visible;
  margin: 0px;
  padding-bottom: 4px;
  padding-right: 1px;
}

.plyr--video {
  overflow: hidden;
}

.plyr--full-ui {
  box-sizing: border-box;
}

.plyr__video-wrapper {
  background: #000;
  border-radius: inherit;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-modal {
  max-width: 960px;
  width: 100%;
}

.al-center {
  text-align: center;
}

header .row .btn {
  min-width: 193px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 25px;
  padding: 6px 15px;
  margin: 0px;
  font-family: open sans, sans-serif;
  font-size: 13px;
  margin-top: 13px;
  text-align: center;
}

header button.btn.popupVideoBtn.head-btn:hover {
  background: red;
  color: white;
  border: 0;
  /* border: 1px solid black; */
}

.nav-wrap {
  display: flex;
  float: right;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-wrap .profile-box {
  display: flex;
  flex-direction: column-reverse;
  float: left;
  margin-right: 15px;
}

.nav-wrap .profile-box .data-box-link {
  display: flex;
  text-decoration: none;
  line-height: 17px;
  align-items: center;
}

.nav-wrap .profile-box .data-box-link img.rounded-circle.w-25 {
  max-width: 40px;
  border: 1px solid red;
}

.nav-wrap .profile-box span.data-right-w {
  text-align: start;
  font-size: 14px;
  font-family: var(--bs-body-font-family);
}

.nav-wrap .profile-box span.data-right-w span.name {
  display: block;
  color: #ff0200;
  font-weight: bold;
  max-width: 180px;
  text-align: left;
  overflow-wrap: normal;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 0px 0px 8px;
  margin: 0px;
}

.nav-wrap .profile-box span.data-right-w span.dashboard {
  color: #333132;
  font-size: 14px;
  white-space: wrap;
  padding: 0px 0px 0px 8px;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2px;
  right: 0px;
  float: right;
  cursor: pointer;
  overflow: visible;
  width: 24px;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.hamburger-inner {
  position: relative;
  bottom: 11px;
  right: 6px;
}

.hamburger-box {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.hamburger.is-active .menu-display {
  width: 260px;
  position: relative;
  top: 38px;
  margin-right: 0px;
  padding: 0px;
}

.hamburger.is-active .menu-display ul {
  right: 2px;
  width: 260px;
  opacity: 1;
  display: block ;
}
.menu-display {
  display: block;
}

.menu-display ul.menu {
  right: -60px !important;
  font-size: 15px;
  overflow: hidden;
  list-style: none;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  background-color: #000;
  z-index: 1;
  transition: opacity, right 0.2s !important;
  padding: 0px;
  width: 0;
}

.menu-display ul.menu li:first-child a {
  padding-top: 30px;
}

.menu-display ul.menu li:last-child a {
  padding-bottom: 30px;
}
.menu-display ul.menu li a:hover,body .current_page_item > a{
  color:red !important;
}
.menu-display a {
  color: #fff;
  text-decoration: none;
}
.menu-display a:not(:last-child) {
  margin-bottom: 5px;
}

.menu-display ul.menu li a {
  padding: 10px 30px;
  display: block;
  text-align: center;
}

.menu-display ul.menu li a:hover {
  color: #ff0200;
}

article {
  min-height: 600px;
}

.bg-gray {
  padding: 0px;
  background-color: transparent;
}

.bg-gray>.container {
  padding: 0px;
  max-width: none;
}

/* Section Roc Abs */
.sec-roc-abs {
  padding: 43px 0px 25px 0px !important;
}

[class*="sec-"] {
  padding: 0px 0px;
}

.sec-roc-abs .container {
  width: 100%;
  overflow: auto;
  margin: 0px auto;
  padding: 0px 15px;
  max-width: 1850px;
}

.sec-roc-abs h2 {
  text-align: center;
  padding-bottom: 18px;
}

.sub-title {
  color: #ec3237;
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 1.5px;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #0d6efd;
  text-decoration: underline;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}
.box-sec-inp {
  text-align: center;
  padding-bottom: 35px;
  margin-top: 11px !important;
}

.box-sec-inp input[type="text"] {
  color: #222;
  width: 100%;
  font-size: 14px;
  padding: 5px 9px;
  max-width: 339px;
  border-radius: 2px;
  border: 1px solid #c2c2c2;
}

.box-sec-inp input[type="submit"] {
  height: 32px;
  background-color: #ec3237;
  font-size: 14px;
  -webkit-font-smoothing: unset;
  border: 1px solid #ec3237;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
  text-transform: capitalize;
  padding: 0px 6px;
  font-style: initial;
  margin-left: 5px;
  font-weight: 400;
  font-family: var(--bs-body-font-family);
}

.box-sec-inp input[type="submit"]:hover {
  background-color: #fff;
  color: #ec3237;
}

.sec-roc-abs h3 {
  text-align: center;
  margin: 0px;
  line-height: 30px;
  padding-bottom: 15px;
}

h3 em {
  padding-right: 15px;
  padding-left: 8px;
  color: #ec3237;
  font-size: 55px;
  font-weight: 700;
  position: relative;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
}

h3 strong {
  font-weight: 600;
}

.scroll-div {
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.scroll-div .arrow-left,
.scroll-div .arrow-right {
  color: #ec3237;
  position: relative;
  top: 9px;
  width: 30px;
  font-size: 40px;
  cursor: pointer;
}

.scroll-div .scroll-text {
  color: #ec3237;
  margin: 0px 8px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  top: 1px;
}

/* over 100k votes */
.row-roc-abs,
.row.row-feature-videos {
  margin: 0px !important;
}

.owl_slider_main {
  width: 80% !important;
  padding: 0px 55px 0px 10px !important;
}

.row-roc-abs [class*="col-"]:last-child {
  /* right: 2px; */
  position: relative;
}

.male-carousel {
  padding: 0 0px;
  margin-bottom: 30px;
}

.list-thum.red-b-bottom {
  border-bottom: 2px solid #ec3237;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

html body .owl-carousel {
  position: relative;
}

.list-thum {
  color: #000;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding-bottom: 22px !important;
  display: inline-block;
}
.under-100k-women .owl-carousel.list-thum{
  padding-bottom: 0px !important;
}
.swiper{
  display: none;
  width: 100%;
}
/* .swiper .swiper-wrapper{
  position: relative;
  overflow: hidden;
} */
div#over_100k_man .swiper-wrapper .blog-card.item,
div#over_100k_women .swiper-wrapper .blog-card.item {
  background: #efebf5;
  padding-bottom: 15px;
  border: 0px;
  border-radius: 8px;
  overflow: hidden;
  border-style: double;
} 
div#over_100k_man .swiper-wrapper .blog-card.item:hover,
div#over_100k_women .swiper-wrapper .blog-card.item:hover {
  background: #e1dbed;
}

div#over_100k_man .swiper-wrapper .blog-card.item .thum-blog,
div#over_100k_women .swiper-wrapper .blog-card.item .thum-blog {
  overflow: hidden;
  border-radius: 8px;
  padding: 5px;
  background: #58379a;
} 
div#over_100k_man .swiper-wrapper .blog-card.item .thum-blog img,
div#over_100k_women .swiper-wrapper .blog-card.item .thum-blog img {
  border-radius: 4px;
}
.swiper .swiper-slide img {
  object-fit: cover;
  transition: all 0.5s;
  display: block;
  width: 100%;
}
.swiper .swiper-slide:hover img {
  transform: scale(1.1);
}
/* .slide-enter {
  max-height: 0;
  overflow: hidden;
}
.slide-enter-active {
  max-height: 1000px; 
  transition: max-height 9s ease-in;
}
.slide-exit {
  max-height: 1000px; 
}
.slide-exit-active {
  max-height: 0;
  transition: max-height 9s ease-in;
} */

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  /* visibility: hidden; */
  -webkit-touch-callout: none;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

div#over_100k_man .owl-item .blog-card.item,
div#over_100k_women .owl-item .blog-card.item {
  background: #efebf5;
  padding-bottom: 15px;
  border: 0px;
  border-radius: 8px;
  overflow: hidden;
  border-style: double;
}

div#over_100k_man .owl-item .blog-card.item:hover,
div#over_100k_women .owl-item .blog-card.item:hover {
  background: #e1dbed;
}

.blog-card {
  float: left;
  width: 100%;
  font-weight: 700;
}

.thum-blog {
  overflow: hidden;
  margin-bottom: 12px;
}

div#over_100k_man .owl-item .blog-card.item .thum-blog img,
div#over_100k_women .owl-item .blog-card.item .thum-blog img {
  border-radius: 4px;
}

.owl-carousel .owl-item img {
  object-fit: cover;
  transition: all 0.5s;
  display: block;
  width: 100%;
}

.owl-carousel .owl-item:hover img {
  transform: scale(1.1);
}
html body .swiper .swiper-button-prev,
html body .swiper .swiper-button-next {
  top: 121px;
  width: 16px;
  height: 84px;
  margin-top: 6px;
  box-shadow: none;
  position: absolute;
  opacity: 1;
}

/* html body .swiper .swiper-button-prev,
html body .swiper .swiper-button-prev:hover {
  left: -24px;
  z-index: 2;

  /* background: url(../src/assest/images/icon-arrow.png) no-repeat left top; 
} */

html body .owl-carousel .owl-nav .owl-next,
html body .owl-carousel .owl-nav .owl-next:hover {
  right: -24px;
  background: url(../src/assest/images/icon-arrow.png) no-repeat right top;
}

.inn-box-blo {
  min-height: 120px;
}

.list-thum h4 {
  font-size: 33px;
  padding-bottom: 5px; 
  font-weight: 700;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.list-thum h4 a {
  color: #bf2a21;
  text-decoration: none;
}

.inn-box-blo p {
  font-size: 16px;
  font-family: "Open sans";
  margin: 0px;
  padding: 0px;
}

.inn-box-blo p strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.inn-box-blo strong {
  color: #2b9c30;
}

.inn-box-blo h6 {
  font-size: 18px;
  padding-bottom: 0px;
  padding-top: 2px;
  font-weight: 700;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.inn-box-blo h6 span {
  color: #bf2a21;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.row-vote {
  font-size: 16px;
  padding-top: 10px;
  letter-spacing: -0.3px;
  font-weight: 700;
}

.icon-like {
  display: inline-block;
  background: none;
  width: auto;
  float: none;
  margin-left: 8px;
}

a.icon-like.votes_like svg {
  max-width: 20px;
  height: 21px !important;
  position: relative;
  top: -4px;
}

.inn-box-blo .btn {
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  margin-top: 14px;
  box-shadow: none;
  line-height: 21px;
  font-style: normal;
  border-radius: 4px;
  position: relative;
  text-transform: none;
  letter-spacing: 0.5px;
  border-color: #bf2b27;
  font-family: 'Raleway', sans-serif;
  background: #bf2b27 !important;
  padding: 5px 32px 5px 15px;
}

.inn-box-blo .btn::after {
  content: '';
  position: absolute;
  border-top: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
  top: 8px;
  right: 12px;
  height: 8px;
  width: 8px;
  font-weight: 800;
  transform: rotate(223deg);
}

/* CSS for slide-up and slide-down animations */

table.table.table-striped.table-bordered.nef_collection {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}

.table>thead>tr.warning>td {
  background-color: #fcf8e3;
  font-weight: normal;
  font-size: 15px;
  padding: 0px;
}

.table>:not(:first-child) {
  border-top: 2px solid currentColor;
}

.table>tbody>tr.danger>td {
  background-color: #f2dede;
  font-weight: normal;
  font-size: 15px;
  padding: 0px;
}

.table>tbody>tr.success>td {
  background-color: #dff0d8;
  font-weight: normal;
  font-size: 15px;
  padding: 0px;
}

table.table.table-striped.table-bordered.table-hover.nef_collection::after {
  content: 'COMING SOON';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-size: 30px;
  background: #ffffff7a;
}

.owl-theme .owl-nav {
  margin-top: 0px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

html body .owl-dots {
  display: none;
}


html body .owl-carousel .owl-nav .owl-prev,
html body .owl-carousel .owl-nav .owl-next {
  top: 121px;
  width: 16px;
  height: 84px;
  margin-top: 6px;
  box-shadow: none;
  position: absolute;
  text-indent: -999em;
  opacity: 1;
}

html body .owl-carousel .owl-nav .owl-prev,
html body .owl-carousel .owl-nav .owl-prev:hover {
  left: -24px;
  background: url(../src/assest/images/icon-arrow.png) no-repeat left top;
}

html body .owl-carousel .owl-nav .owl-next,
html body .owl-carousel .owl-nav .owl-next:hover {
  right: -24px;
  background: url(../src/assest/images/icon-arrow.png) no-repeat right top;
}

.sec-roc-abs .row.row-roc-abs .col-add,
.row-feature-videos .rt-side-col-sec {
  width: 20%;
  padding-left: 0px !important;
  padding-right: 10px !important;
}

.col-add .list-fta-spon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

ul.list-fta-spon {
  max-width: 345px;
  list-style: none;
  padding-top: 2px;
  margin: 0px auto;
  width: 100%;
  margin-right: 0px;
}

ul.list-fta-spon a,
.fta-spon-bottom a,
.fta-spon-bottom-v2 a,
.adv a {
  display: block;
}

ul.list-fta-spon img {
  width: 100%;
}

ul.list-fta-spon li {
  padding: 50px 0px;
}

#men_sliderResOver,
#female_sliderResOver,
.success_msg,
.sucessfullvote {
  font-weight: 700;
  color: green;
  font-size: 14px;
}

.object-square.highlight {
  color: #fff;
  background-color: #bf2a21 !important;
  box-shadow: 0 0 10px #7d7d7d !important;
  padding: 0 0 10px !important;
  border-color: #bf2a21 !important;
}

.object-square.highlight a.btn.nefcollection {
  background: #fff !important;
  color: #bf2a21 !important;
}

.object-square.highlight a.btn.nefcollection:after {
  border-top: 2.5px solid #bf2a21;
  border-left: 2.5px solid #bf2a21;
}

.object-square.highlight .inn-box-blo h4 a,
.object-square.highlight .inn-box-blo h6,
.object-square.highlight .inn-box-blo h6 span,
.object-square.highlight strong {
  color: #fff;
}

.row-roc-abs h3 {
  padding: 0px 0px 0px 30%;
}

h3 span {
  display: block;
  color: #ec3237;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.row-roc-abs .scroll-div {
  padding-left: 30%;
}
.owl-carousel.owl-loading {
  opacity: 1 !important;
  display: block !important;
}
.fta-spon-top{
  margin-top: -10px;
  text-align: center;
}
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.swal2-title {
  font-family: "Open Sans", sans-serif !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 1.875em !important;
}

/* glute feans section */
section.sec-hero.ass-feans{
  background: #5fc5b8;
}
section.sec-hero.ass-feans h2 {
  color: #fff;
}
section.sec-roc-abs.women .box-sea-inp{
  margin-top: 6px;
}
section.adv{
  background: #EEEEEE;
  padding: 30px 0px;
}
@media (max-width: 1600px) {
  ul.list-fta-spon {
    max-width: 305px;
    padding: 0px;
  }
}

@media (max-width: 1440px) {
  header .container {
    max-width: 1900px;
    padding: 0px 35px;
    width: 95%;
  }

  .ftalogo span {
    padding: 0px 11px 0px 0px;
  }

  .list-thum h4 {
    padding-bottom: 6px;
  }

  .inn-box-blo .row-vote {
    padding-top: 7px;
    letter-spacing: 0px;
    font-size: 15.05px;
  }

  .row-roc-abs h3.sub-head-title span {
    padding-top: 21px;
    padding-bottom: 1px;
  }

  ul.list-fta-spon {
    max-width: 305px;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1260px;
  }

  .sec-roc-abs .container {
    max-width: 1276px;
  }

  ul.list-fta-spon {
    max-width: 270px;
  }
}

@media (max-width: 1200px) {
  h1,
  h2,
  .title {
    font-size: 50px !important;
    line-height: 55px;
  }

  .sec-roc-abs h3 {
    font-size: 30px !important;
  }

  .list-thum {
    font-size: 14px;
  }

  .list-thum h4 {
    font-size: 20px;
  }

  ul.list-fta-spon {
    max-width: 232px;
  }
}

@media (max-width: 1024px) {
  header .container {
    max-width: 948px;
    width: 100% !important;
  }

  .ftalogo img {
    max-width: 288px;
    width: 100%;
  }

  .ftalogo span {
    padding: 0px 11px 0px 0px;
  }

  header .row .btn {
    padding: 1px 2px;
    font-size: 11px;
    min-width: 169px;
    margin-top: 8px;
  }

  .row-roc-abs [class*="col-"],
  .sec-fea-mem .row [class*="col-"] {
    width: 100% !important;
    padding: 0px 15px !important;
  }

  .row-roc-abs h3 {
    font-size: 20px !important;
    padding: 0px 0px 12px 0px;
  }

  .row-roc-abs h3 span {
    font-size: 15px;
    padding-top: 13px;
  }

  .row-roc-abs .scroll-div,
  .row-roc-abs .scroll-div.female {
    padding-left: 0px;
  }

  ul.list-fta-spon {
    display: flex;
    max-width: 100%;
  }

  ul.list-fta-spon li {
    padding: 5px;
  }
}

@media (max-width: 991px) {
  [class *="sec-"] {
    padding: 0px 0px;
  }

  .col-add .list-fta-spon-wrapper {
    width: 100%;
    display: block;
  }

  ul.list-fta-spon {
    /* display: flex; */
    margin: 0px;
    padding-top: 30px;
    padding-top: 40px;
  }

  ul.list-fta-spon li {
    padding: 0px 15px;
  }
  .fta-spon-top {
    margin-top: 15px !important;
}
}

@media (max-width: 768px) {
  header .row .col-sm-4 {
    text-align: center;
  }

  .ftalogo img {
    max-width: 230px;
  }

  header .row .col-sm-4 .ftalogo span {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-right: 0px;
    font-size: 14px;
  }

  a#logo {
    max-width: 230px;
  }

  .hamburger {
    position: absolute;
    top: 30px;
  }


  .sub-title {
    font-size: 19px;
  }

  .box-sec-inp {
    padding-bottom: 20px;
  }

  .sec-roc-abs h3 {
    font-size: 20px !important;
    line-height: 30px;
    padding: 0px 15px 20px 15px;
  }

  .sec-roc-abs h3 em {
    line-height: 30px;
    font-size: 34px;
  }

  .row-roc-abs h3 span {
    line-height: 17px;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .top-bar .container {
    margin: 0px;
    padding: 0px;
  }

  .top-bar button.btn.btn-volunters.collapsed {
    left: 0px;
  }

  .top-bar button.btn.btn-volunters {
    position: inherit;
    width: 100% !important;
    margin: auto;
    border-radius: 0px;
    right: 0px;
    text-align: left;
    display: block;
    box-sizing: border-box;
  }

  .top-bar a.btn.btn-feedback-top {
    /* left: 60%; */
    white-space: nowrap;
  }
}

@media (max-width: 576px) {
  header .container {
    padding: 0px 15px !important;
  }

  .nav-wrap-responsive {
    justify-content: center;
    margin-top: 12px;
    background-color: rgb(235, 235, 235);
    float: none;
    border-radius: 10px;
    padding: 10px 0px;
  }

  .nav-wrap-responsive .profile-box {
    margin-right: 0px;
  }

  .hamburger {
    right: 15px;
  }


  .box-sec-inp input[type="text"] {
    max-width: 198px;
  }

  .owl_slider_main {
    padding: 0px !important;
  }
  .fta-spon-top {
    margin-top: 20px !important;
}
}

@media (max-width: 480px) {
  .hamburger {
    top: 15px;
    padding: 15px;
    z-index: 999999;
  }
}

@media (max-width: 384px) {

  h1,
  h2,
  .title {
    font-size: 23px !important;
    line-height: 27px !important;
    padding-bottom: 10px !important;
    margin-bottom: 0px;
  }

  .box-sec-inp {
    padding: 0px !important;
    margin-top: 0px !important;
  }

  .sub-title {
    font-size: 15px;
    line-height: 21px;
  }

  .sec-roc-abs h3,
  .scroll-div .scroll-text {
    padding: 7px 15px;
    font-size: 18px !important;
    margin-bottom: 0px;
  }

  .row-roc-abs,
  .row-roc-abs .owl_slider_main {
    padding: 0px 4px !important;
  }

  .inn-box-blo h6,
  .inn-box-blo p,
  .inn-box-blo .row-vote {
    font-size: 14px;
    line-height: 18px;
  }

  .row-roc-abs h3.sub-head-title span {
    padding-top: 5px;
  }

  ul.list-fta-spon li {
    padding: 5px;
  }
  .fta-spon-top {
    margin: 15px !important;
}
}