/* header css */

header {
  border-bottom: solid 1px #ddd;
  z-index: 99;
  padding: 9px 0 16px 0;
}

header .container {
  padding: 0px 64px;
  max-width: 1900px;
  width: 95%;
}
header .row {
  display: flex;
  position: relative;
  align-items: center;
}
.ftalogo {
  text-decoration: none;
}
.ftalogo img {
  max-width: 318px;
  width: 100%;
  margin-left: -5px;
}

.ftalogo span {
  color: #333132;
  display: block;
  max-width: 310px;
  font-weight: 600;
  text-align: right;
  font-style: italic;
  padding-right: 7px;
  margin-top: -1.5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header button.btn.popupVideoBtn.head-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border: 1px solid black;
  font-style: normal;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
header button.btn.popupVideoBtn.head-btn .plyr__control {
  color: #ff0200;
  width: 28px;
  height: 25px;
  margin-right: 6px;
}
header button.btn.popupVideoBtn.head-btn:hover .plyr__control {
  color: white;
}

button.close.custom-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 35px;
  height: 35px;
  padding: 0px;
  line-height: 12px;
  font-size: 22px;
  background-image: linear-gradient(to right, #c53026 0%, #930000 51%, #c53026 100%);
  box-shadow: 0px 0px 20px -2px #000;
  border: 0px;
  z-index: 999;
  border-radius: 100%;
  transition: all 0.4s ease-out;
  border-radius: 100px;
  box-sizing: border-box;
  outline: none;
  overflow: visible;
  margin: 0px;
  padding-bottom: 4px;
  padding-right: 1px;
}
.plyr--video {
  overflow: hidden;
}
.plyr--full-ui {
  box-sizing: border-box;
}
.plyr__video-wrapper {
  background: #000;
  border-radius: inherit;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-modal {
  max-width: 960px;
  width: 100%;
}
.al-center {
  text-align: center;
}
header .row .btn {
  min-width: 193px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 25px;
  padding: 6px 15px;
  margin: 0px;
  font-family: open sans, sans-serif;
  font-size: 13px;
  margin-top: 13px;
  text-align: center;
}
header button.btn.popupVideoBtn.head-btn:hover {
  background: red;
  color: white;
  border: 0;
  /* border: 1px solid black; */
}

.nav-wrap {
  display: flex;
  float: right;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.nav-wrap .profile-box {
  display: flex;
  flex-direction: column-reverse;
  float: left;
  margin-right: 15px;
}
.nav-wrap .profile-box .data-box-link {
  display: flex;
  text-decoration: none;
  line-height: 17px;
  align-items: center;
}
.nav-wrap .profile-box .data-box-link img.rounded-circle.w-25 {
  max-width: 40px;
  border: 1px solid red;
}
.nav-wrap .profile-box span.data-right-w {
  text-align: start;
  font-size: 14px;
  font-family: var(--bs-body-font-family);
}
.nav-wrap .profile-box span.data-right-w span.name {
  display: block;
  color: #ff0200;
  font-weight: bold;
  max-width: 180px;
  text-align: left;
  overflow-wrap: normal;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 0px 0px 8px;
  margin: 0px;
}
.nav-wrap .profile-box span.data-right-w span.dashboard {
  color: #333132;
  font-size: 14px;
  white-space: wrap;
  padding: 0px 0px 0px 8px;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2px;
  right: 0px;
  float: right;
  cursor: pointer;
  overflow: visible;
  width: 24px;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.hamburger-inner {
  position: relative;
  bottom: 11px;
  right: 6px;
}
.hamburger-box {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.hamburger.is-active .menu-display {
  width: 260px;
  position: relative;
  top: 38px;
  margin-right: 0px;
  padding: 0px;
}
.hamburger.is-active .menu-display ul {
  right: 2px;
  width: 260px;
  opacity: 1;
  display: block !important;
}

.menu-display ul.menu {
  right: -60px;
  font-size: 15px;
  overflow: hidden;
  list-style: none;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  background-color: #000;
  z-index: 1;
  transition: opacity 0.2s, right 0.2s;
  padding: 0px;
  width: 0;
}

.menu-display {
  transition: opacity, right 0.2s;
}
.menu-display ul.menu li:first-child a {
  padding-top: 30px;
}
.menu-display ul.menu li:last-child a {
  padding-bottom: 30px;
}
.menu-display ul.menu li a {
  padding: 10px 30px;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.menu-display ul.menu li a:hover {
  color: #ff0200;
}

@media (max-width: 1440px) {
  header .container {
    max-width: 1900px;
    padding: 0px 35px;
    width: 95%;
  }
  .ftalogo span {
    padding: 0px 11px 0px 0px;
  }
}
@media (max-width: 1024px) {
  header .container {
    max-width: 948px;
    width: 100% !important;
  }
  .ftalogo img {
    max-width: 288px;
    width: 100%;
  }
  .ftalogo span {
    padding: 0px 11px 0px 0px;
  }
  header .row .btn {
    padding: 1px 2px;
    font-size: 11px;
    min-width: 169px;
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  header .row .col-sm-4 {
    text-align: center;
  }
  .ftalogo img {
    max-width: 230px;
  }
  header .row .col-sm-4 .ftalogo span {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-right: 0px;
    font-size: 14px;
  }
  a#logo {
    max-width: 230px;
  }
  .hamburger {
    position: absolute;
    top: 30px;
  }
}
@media (max-width: 576px) {
  header .container {
    padding: 0px 15px !important;
  }
  .nav-wrap-responsive {
    justify-content: center;
    margin-top: 12px;
    background-color: rgb(235, 235, 235);
    float: none;
    border-radius: 10px;
    padding: 10px 0px;
  }
  .nav-wrap-responsive .profile-box {
    margin-right: 0px;
  }
  .hamburger {
    right: 15px;
  }
}
@media (max-width: 480px) {
  .hamburger {
    top: 15px;
    padding: 15px;
    z-index: 999999;
  }
}
