.box-sec-inp{
    text-align: center;
    padding-bottom: 35px;
    margin-top: 11px !important;
}
.box-sec-inp input[type="text"]{
    color: #222;
    width: 100%;
    font-size: 14px;
    padding: 5px 9px;
    max-width: 339px;
    border-radius: 2px;
    border: 1px solid #c2c2c2;
}
.box-sec-inp input[type="submit"]{
    height: 32px;
    background-color: #ec3237;
    font-size: 14px;
    -webkit-font-smoothing:unset;
    border: 1px solid #ec3237;
    transition: all 0.3s ease-in-out;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 0px 6px;
    font-style: initial;
    margin-left: 5px;
    font-weight: 400;
    font-family: var(--bs-body-font-family);
}
.box-sec-inp input[type="submit"]:hover{
    background-color: #fff;
    color: #ec3237;
}
